<%- include ../partials/header.ejs %>

<%- include ../partials/main-nav.ejs %>

  
    <!--Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> Page</h1>  
        <hr>
    <img src="./Assets/images/Snapchat-1078165769.jpg" alt>
      <p>My name is Beylull Teklay, I am currently pusing Software Enginneering Technician Program at Centennial College.</p>
      <p>Personal Mission Statement</p>
      <p> My mission in life is to give back to people.
    I hope to encourage positivity in Education and Healthy Life Style.
     </p>
     <h2> Inspired by</h2>
     <p>“Keep away from people who try to belittle your ambitions. 
     Small people always do that, but the really great make you feel that you, too, can become great.”
      by Mark Twain</p>

    </div>
    
  </main>
  
<%- include ../partials/bottom-nav.ejs %>
 
<%- include ../partials/footer.ejs %>