<%- include ../partials/header.ejs %>

<%- include ../partials/main-nav.ejs %>

  
    <!--Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> Page</h1>  
      
      <hr><p>Personal Mission Statement</p>
    <p> My mission in life is to give back to people.I hope to encourage positivity in Education and Healthy Life Style. </p>
    </div>
    
  </main>
  
<%- include ../partials/bottom-nav.ejs %>
 
<%- include ../partials/footer.ejs %>