<%- include ../partials/header.ejs %>

<%- include ../partials/main-nav.ejs %>

  
    <!--Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> Page</h1>  
    </div>
    <p>Services include:</p>
  </main>

  
<%- include ../partials/bottom-nav.ejs %>
 
<%- include ../partials/footer.ejs %>