<%- include ../partials/header.ejs %>

<%- include ../partials/main-nav.ejs %>

  
    <!--Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> Page</h1>  
    <div class="card-group">
            <div class="card">
                <img src="./Assets/images/csharp.png" class="card-img-top" alt="c#">
                <div class="card-footer">
                    <h5 class="text-muted text-center">C#: 2 years Expreinece</h5>
                    <p>I have taken C sharp course at Centennial College</p>
                </div>
            </div>

            <div class="card">
                <img src="./Assets/images/python.png" class="card-img-top" alt="Python">
                <div class="card-footer">
                    <h5 class="text-muted text-center">Python: 1 years Experience</h5>
                    <p>I have taken Python course at Centennial College</p>
                </div>
            </div>

            <div class="card">
                <img src="./Assets/images/javascript.jpeg" class="card-img-top" alt="Js">
                <div class="card-footer">
                    <h5 class="text-muted text-center">Javascript: 1 year Expreinece</h5>
                    <p>I have taken Javascript course at Centennial College</p>
                </div>
            </div>
        </div>

    </div>
   




  </main>

  
<%- include ../partials/bottom-nav.ejs %>
 
<%- include ../partials/footer.ejs %>