<%- include partials/header.ejs %>

<%- include partials/main-nav.ejs %>

  
    <!--Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> Page</h1>
      <h3>Hello, My name is Beylull Teklay. I will introduce my self in the next pages.</h3>
      <h3>To learn about me</h3><a href="/aboutme"> About me</a>
      <h3>To view about my projects</h3><a href="/project"> My project</a>
      <h3>To view</h3><a href="/services"> Services</a>
      <h3>Please feel free to reach me here</h3><a href="/contactme"> contact me</a>
    </div>
  </main>

  
<%- include partials/bottom-nav.ejs %>
 
<%- include partials/footer.ejs %>















